.App {
  text-align: center;
  font-family: "Schoolbell";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  padding: 2rem;
}

.App-header {
  background-color: #e17b6c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.item:not(.footer) {
  padding-top: 1rem;
}
.item {
  margin: 3rem;
  display: grid;
  grid-template-rows: 1fr min-content;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: var("#2c3e50");
}

button {
  background: #ff3602;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 0.8rem 2rem;
  font: 24px "Schoolbell", sans-serif;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
}

.button-parrot .parrot {
  position: absolute;
  width: 60px;
  text-align: center;
  animation: blink 0.4s infinite;
  color: transparent;
}
.button-parrot .parrot:before {
  content: "!croak";
}
.button-parrot .parrot:nth-child(1) {
  top: -30px;
  left: -40px;
  font: 12px/1 "Schoolbell", sans-serif;
  transform: rotate(-20deg);
  animation-duration: 0.5s;
}
.button-parrot .parrot:nth-child(2) {
  font: 12px/1 "Schoolbell", sans-serif;
  right: -40px;
  top: -20px;
  transform: rotate(15deg);
  animation-duration: 0.3s;
}
.button-parrot .parrot:nth-child(3) {
  font: 16px/1 "Schoolbell", sans-serif;
  top: -60px;
  left: 15px;
  transform: rotate(10deg);
  animation-duration: 1s;
}
.button-parrot .parrot:nth-child(4) {
  font: 18px/1 "Schoolbell", sans-serif;
  top: -70px;
  left: 95px;
  transform: rotate(2deg);
  animation-duration: 0.7s;
}
.button-parrot .parrot:nth-child(5) {
  font: 14px/1 "Schoolbell", sans-serif;
  top: 80px;
  left: 105px;
  transform: rotate(-20deg);
  animation-duration: 0.8s;
}
.button-parrot .parrot:nth-child(6) {
  font: 12px/1 "Schoolbell", sans-serif;
  top: 80px;
  left: 5px;
  transform: rotate(10deg);
  animation-duration: 1.2s;
}
.button-parrot button:hover .parrot:before {
  content: "!vibe";
  width: 70px;
}

@keyframes blink {
  25%,
  75% {
    color: transparent;
    text-shadow: none;
  }
  40%,
  60% {
    color: #fff;
    text-shadow: none;
  }
}

.stroke {
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black,
    -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black,
    0.05em 0.05em black;
}

.connect-button {
  font-size: 18px;
  padding: 8px;
  margin: 36px;
}

.view-jims-button {
  font-size: 18px;
  padding: 8px;
  margin-top: 36px;
  margin-right: 0px;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.amount-input {
  padding: 8px 0px;
  border-radius: 50px;
  text-align: center;
  color: #111;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#123, #111);
}

.ant-drawer .ant-drawer-content {
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

.anticon.anticon-eye {
  margin-right: 4px;
}
